<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>UCABAir</title>
    <link rel="stylesheet" href="../estilos.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <style>
      * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
      .bienvenida {
        margin-top: 50px;
        padding: 20px;
        background-color: #f1f1f1;
        border-radius: 10px;
      }
      .bienvenida h1 {
        font-size: 2em;
        margin-bottom: 20px;
      }
      .bienvenida p {
        font-size: 1.2em;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <% if (typeof username !== 'undefined') { %> <%- include('header') %> <%-
    include('side-bar') %>
    <main>
      <div class="contenedor">
        <h1>Inicio</h1>
        <article class="bienvenida">
          <h1>Bienvenido: <%= username %></h1>
          <p>UCABAir es una empresa dedicada a la fabricación de aviones.</p>
          <p>
            En este sistema podrás llevar un control de los aviones que se están
            fabricando, los componentes que se tienen en inventario, el personal
            que trabaja en la empresa, entre otras cosas.
          </p>
        </article>
      </div>
    </main>
    <% } %> <% if (typeof username === 'undefined') { %> <%-
    include('no-permiso') %> <% } %>
  </body>
</html>
