<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UCABAir</title>
    <link rel="stylesheet" href="../estilos.css" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
      }

      body {
        width: 100%;
        height: 100vh;
      }

      .container-login {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .right {
        width: 50%;
        height: 100%;
        background-color: #0f172a;
      }

      #parrafos {
        background-color: #0f172a;
        margin-top: 85%;
        margin-left: 40px;
      }

      .right p {
        color: #ffffff;
        font-size: 14px;
        margin: 10px 0;
        text-align: left;
      }

      .login {
        width: 50%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .login label {
        display: block;
        margin-bottom: 25px;
        color: #6d6d76;
        font-size: 14px;
      }

      .campo-log {
        margin-bottom: 15px;
      }

      .campo-log input {
        width: 300px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
      }

      .login button {
        width: 300px;
      }

      .not-fetched {
        display: none;
      }
      .fetched {
        display: inline-block;
      }
      a {
        margin-top: 8px;
        color: #000;
        text-decoration: none;
      }
      a:hover {
        color: #000;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container-login">
      <div class="right">
        <img
          id="logo"
          src="imagenes/logo dark.png"
          width="200px"
          height="auto"
        />
        <div id="parrafos">
          <p>
            <i
              >"Este sistema nos ha ayudado a mejorar tremendamente nuestra
              productividad y eficiencia operativa"</i
            >
          </p>
          <p>Pedro Pérez - Director de Operaciones</p>
        </div>
      </div>
      <div class="login">
        <h2>Iniciar Sesión</h2>
        <label>Ingresa tus datos abajo para iniciar sesión</label>
        <form id="form">
          <div class="campo-log">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="nombre@example.com"
            />
          </div>
          <div class="campo-log">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="contraseña"
            />
          </div>
          <button class="buscar-btn" type="submit">Iniciar Sesión</button>
          <span id="loginSpan"></span>
        </form>
        <a href="http://localhost:3000/registrar-cliente-natural"
          >Registrar cliente Natural</a
        >
        <a href="http://localhost:3000/registrar-cliente-juridico"
          >Registrar cliente Juridico</a
        >
      </div>
    </div>
    <script>
      //enviar la peticion post al presionar iniciar sesion
      document.querySelector("form").addEventListener("submit", function (e) {
        e.preventDefault();
        let username = document.querySelector("#username").value;
        let password = document.querySelector("#password").value;
        let loginSpan = document.querySelector("#loginSpan");
        let data = {
          username: username,
          password: password,
        };

        fetch("http://localhost:3000/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((res) => {
            if (res.ok) {
              loginSpan.innerText = "Sesion iniciada, entrando...";
              loginSpan.style.color = "green";
              setTimeout(() => {
                window.location.href = "http://localhost:3000/";
              }, 2000);
            } else {
              loginSpan.innerText = "Usuario o contraseña incorrectos";
              loginSpan.style.color = "red";
            }
          })
          .catch((error) => console.log("Error:", error));
      });
    </script>
  </body>
</html>
