<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>UCABAir</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="comportamiento.js"></script>
    <style>
      .button-container {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
          flex-direction: column;
      }
      main {
        display: flex;
        flex-direction: column;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 8px 12px;
        border: 1px solid #ddd;
      }
      th {
        cursor: pointer;
        background-color: #f4f4f4;
      }
      th.sort-asc::after {
        content: " \25B2"; /* Up arrow */
      }
      th.sort-desc::after {
        content: " \25BC"; /* Down arrow */
      }
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      tr:hover {
        background-color: #f1f1f1;
      }
      .pagination {
        margin-top: 10px;
      }
      .pagination button {
        padding: 5px 10px;
        margin: 0 5px;
      }
      .search-box {
        margin-bottom: 10px;
      }
      .search-box input {
        padding: 5px;
        width: 200px;
      }
      .delete-btn {
        background-color: #ff4c4c;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
      }
      .edit-btn {
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
      }
      #formFecha {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        flex-direction: row;
        gap: 20px;
      }
    </style>
  </head>
  <body>
    <% if (typeof username !== 'undefined') { %> <%- include('header') %> <%-
    include('side-bar') %>
    <main>
      <div class="contenedor">
        <h1>Banner 9</h1>
        <div class="button-container">
        <form id="formFecha" action="">
          <label for="fechaInicio">Fecha de Inicio:</label>
          <input type="date" name="" id="fechaInicio">
          <label for="fechaFin">Fecha de Fin:</label>
          <input type="date" name="" id="fechaFin">
          <button>Generar reporte</button>
        </form>
      </div>
    </main>
    <% } %> <% if (typeof username === 'undefined') { %> <%-
    include('no-permiso') %> <% } %>
  </body>
  <script>
    const formFecha = document.getElementById('formFecha');
    formFecha.addEventListener('submit', (e) => {
      e.preventDefault();
      const fechaInicio = document.getElementById('fechaInicio').value;
      const fechaFin = document.getElementById('fechaFin').value;
      window.location.href = `/reportes/pagos-a-proveedores/${fechaInicio}/${fechaFin}`;
    });
  </script>
</html>
