<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>UCABAir</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.2.0/css/dataTables.bootstrap5.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.0/js/dataTables.bootstrap5.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <style>
      main {
        display: flex;
      }
      .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      #formFecha {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      #formFecha label {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <% if (typeof username !== 'undefined') { %> <%- include('header') %> <%-
    include('side-bar') %>
    <main>
      <div class="contenedor">
        <h1>Banner 9</h1>
        <div class="">
        <form id="formFecha" action="">
          <label for="fechaInicio">Fecha de Inicio:</label>
          <input required class="form-control" type="date" name="" id="fechaInicio">
          <label for="fechaFin">Fecha de Fin:</label>
          <input required class="form-control" type="date" name="" id="fechaFin">
          <button class="btn btn-success">Generar reporte</button>
        </form>
      </div>
    </main>
    <% } %> <% if (typeof username === 'undefined') { %> <%-
    include('no-permiso') %> <% } %>
  </body>
  <script>
    const formFecha = document.getElementById('formFecha');
    formFecha.addEventListener('submit', (e) => {
      e.preventDefault();
      const fechaInicio = document.getElementById('fechaInicio').value;
      const fechaFin = document.getElementById('fechaFin').value;
      window.location.href = `/reportes/pagos-a-proveedores/${fechaInicio}&${fechaFin}`;
    });
  </script>
</html>
